* {
    box-sizing: border-box;
  }
:root{
    --main-color : #1E1E1E;
}
body{
    background-color: var(--main-color);
    padding: 10px;
}
main h1{
    display: none;
}
.header{
    width: 90%;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_search{
    background-color: transparent;
    text-decoration: none;
    border: 0px;
}