.product_font{
    color: var(--font-color);
    font-family: Helvetica;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    

}
.font_headings{
    color: var(--font-color);
    font-family: Helvetica;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 25px */
    letter-spacing: -0.625px;
    text-transform: uppercase;
}
.font_company{
    text-align: center;
    font-family: Helvetica;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0 var(--rare-color),
                 -0.5px -0.5px 0 var(--rare-color),
                 -0.5px 0.5px 0 var(--rare-color),
                 0.5px -0.5px 0 var(--rare-color);
    color: var(--main-color)
}
.font__Helvetica{
    font-family: Helvetica;
}
.font__BebasNeue{
    font-family: 'Bebas Neue', sans-serif;
}
.font__Inter{
    font-family: 'Inter', sans-serif;
}

.font__weight__400{
    font-weight: 400;
}
.font__weight__600{
    font-weight: 600;
}
.font__weight__700{
    font-weight: 700;
}
.font__color__font{
    color: var(--font-color);
}
.font__color__rare{
    color: var(--rare-color);
}
.font__color__text{
    color: var(--text-color);
}
.font__color__black{
    color: var(--black-color);
}
.font__uppercase{
    text-transform: uppercase;
}
.font__size5rem{
    font-size: 5rem;
}
.font__size1p6rem{
    font-size: 1.6rem;
}
.font__size1p5rem{
    font-size: 1.5rem;
}
.font__size1p4rem{
    font-size: 1.4rem;
}
.font__size2rem{
    font-size: 2rem;
}
.font__size4rem{
    font-size: 4rem;
}
.font__size4p5rem{
    font-size: 4.5rem;
}
.font__view{
    color: var(--font-color);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}
