body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(180deg, rgb(30, 30, 30) 43%, rgb(0, 0, 0) 90%);
}
form {
    max-width: 600px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
}
select{
    color: black;
    background-color: white;
}
.form-group {
    margin-bottom: 20px;
}
.required {
    color: red;
}
button {
    padding: 10px 15px;
    
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#sub1{
    background-color: #4CAF50;
}
button[type="reset"] {
    background-color: #f44336;
}

footer{
    background-color: black !important;
    position: sticky;
    bottom: 0;
}
input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    font-weight: bold;
    color: #4CAF50; /* измените цвет, если необходимо */
}
input:required {
    border: 1px solid #4CAF50; /* измените цвет, если необходимо */
}