* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html{
    font-size: 62.5%;
}
:root{
    --main-color : #1E1E1E;
    --font-color : #fff;
    --rare-color: #FFED00;
    --text-color: #CCC;
    --black-color: #000;
}
.container {
    padding: 10px;
}
body{
    background-color: var(--main-color);
    font-family: Helvetica;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}
img {
    max-width: 100%;
  }
a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: transparent;
    text-decoration: none;
    border: 0px;
    padding-block: 0px;
    padding-inline: 0px;
}
input:focus {
    outline: none;
  }
.disable{
    display: none;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content h1{
    width: 100%;
    display: none;
}
.carousel_wrapper{
    margin: 20px 0;
}
.slide_content{
    height: 400px;
    position: relative;
    overflow: hidden;
}
.slide_content img{
    height: 100%;
    object-fit: cover;
}
.slide__description{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.catalogue{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.catalogue h2{
    display: none;
}
.good{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}
.img__wrapper{
    width:45vw;
    height:45vw;
    margin-bottom: 10px;
    background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.good__img{
    max-height: 70%;
    max-width: 70%;
}

.exclusive_product{
    width: 100%;
    margin: 20px 0;
}
.exclusive_product p{
    margin: 20px 0;
}
.pair__goods{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.shopping_cart_icon{
    position: relative;
}
.shopping_cart_circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rare-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
    text-align: center;
}
.shopping_cart_count{
    text-align: center;
}
.ref_view{
    align-items: flex-end;
}
.ref_view img{
    height: 35px;
    width: 35px;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: #B6B6B6;
}
.wrapper__learn__more{
    display: flex;
    justify-content: flex-end;
}
.text__learn__more{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.form__first {
    position: relative;
    background: linear-gradient(180deg, #262626 30.46%, #3A3A3A 100%);
    padding: 10px;
    margin: 40px 15px 0 15px;
    margin-bottom: -75px;
    z-index: 1;
}
.form__wrapper h2{
    display: none;
}
.form__first{
    display: flex;
    flex-direction: column;
}
.form_row{
    display: flex;
    flex-direction: column;
}
form input{
    background-color: transparent;
}
.input_data{
    width: 100%;
    height: 40px;
    position: relative;
    margin: 10px 0;
  }
.input_data input{
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 25px;
  border: none;
}
.input_data input:focus ~ label,
.input_data input:valid ~ label{
  transform: translateY(-25px);
  font-size: 14px;
  color: var(--rare-color);
}

.slide__description p{
    text-align: right;
}

.underline{
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--font-color);
}

.input_data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    transition: all 0.3s ease;
}

.button__wrapper{
    display: flex;
    flex-direction: column;
}
.button__wrapper > button{
    background-color: var(--rare-color);
    height: 57px;
    margin-top: 10px;
}
.button__wrapper a{
    text-decoration: underline;
}
.button__wrapper p{
    margin: 20px 0;
}
.wrapper__learn__more{
    margin-bottom: 10px;
}
.wrapper__learn__more > p{
    margin: 0 20px;
}


.about__us{
    margin: 20px 0;
}
.about__us p{
    margin: 20px 0;
}

.footer{
    background-color: var(--black-color);
    padding-top: 200px;
    padding-bottom: 30px;
    width: 100%;
}
.btn_info a{
    text-decoration: underline;
}
.wrapper__brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper__brands img{
    margin: 20px 0;
}
.social__icons{
    width: 80%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.social__icons a{
    display: flex;
    align-items: center;
}
.contact__info{
    display: flex;
    flex-direction: column;
}
