html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

html {
    font-size: 62.5%;
}

:root {
    --main-color: #1E1E1E;
    --font-color: #fff;
    --rare-color: #FFED00;
    --text-color: #CCC;
    --black-color: #000;
}

.container {
    max-width: 100%;
    padding: 10px;
}

body {
    background: linear-gradient(180deg, rgb(30, 30, 30) 85%, rgb(0, 0, 0) 71%);
    /* background-size: 100% calc(100% - 500px), 100%; */
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

p{
    color: var(--font-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    text-decoration: none;
    border: 0px;
    padding-block: 0px;
    padding-inline: 0px;
}

input:focus {
    outline: none;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.disable {
    display: none;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img:nth-child(2){
    margin: 0 10px;
}
.logo img:nth-child(1), .logo img:nth-child(3){
    display: none;
}
.header_panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_buttons button{
    display: none;
}
.navigation{
    display: none;
    width: 80%;
    margin-top: 20px;
    color: var(--font-color);
}
.nav_list{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.slide_content {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide_content img {
    height: 100%;
    object-fit: cover;
}

.slide__description {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.catalogue {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 80px 0;
    grid-gap: 7px;
}

.catalogue h2 {
    display: none;
}

.good {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3;
}

.img__wrapper {
    width: 100%;
    margin-bottom: 10px;
    background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good__img {
    max-height: 70%;
    max-width: 70%;
}

.exclusive_product {
    width: 100%;
    margin: 20px 0;
    grid-column: 1/-1;
    grid-row: 2;
}
.text_wrapper{
    border-top: 1px solid;
    padding-top: 10px;
}
.exclusive_product p {
    margin: 20px 0;
}

.pair__goods {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.shopping_cart_icon {
    position: relative;
}

.shopping_cart_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rare-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
    text-align: center;
}

.shopping_cart_count {
    text-align: center;
}

.ref_view {
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.ref_view img {
    height: 35px;
    width: 35px;
}
.ref_view div{
    width: 100%;
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: #B6B6B6;
}

.wrapper__learn__more {
    display: flex;
    justify-content: flex-end;
}

.text__learn__more {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form__first {
    position: relative;
    background: linear-gradient(180deg, #262626 30.46%, #3A3A3A 100%);
    padding: 10px;
    margin: 40px 0;
    z-index: 1;
}

.form__wrapper h2 {
    display: none;
}

.form__first {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
    flex-direction: column;
}

form input {
    background-color: transparent;
}

.input_data {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 10px 0;
}

.input_data input {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 25px;
    border: none;
}

.input_data input:focus~label,
.input_data input:valid~label {
    transform: translateY(-25px);
    font-size: 14px;
    color: var(--rare-color);
}

.slide__description p {
    text-align: right;
}

.underline {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--font-color);
}

.input_data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    transition: all 0.3s ease;
}

.button__wrapper {
    display: flex;
    flex-direction: column;
}

.button__wrapper>button {
    background-color: var(--rare-color);
    height: 57px;
    margin-top: 10px;
}

.button__wrapper a {
    text-decoration: underline;
}

.button__wrapper p {
    flex: 1;
    margin: 20px 0;
}

.wrapper__learn__more {
    margin-bottom: 10px;
}

.wrapper__learn__more>p {
    margin: 0 20px;
}


.about__us {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
}
.about__us h3 {
    grid-column: 1/-1;
}
.about__us p {
    margin: 20px 0;
}

.footer {
    background-color: transparent;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
}

.btn_info a {
    text-decoration: underline;
}
.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.wrapper__brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper__brands img {
    margin: 20px 0;
}

.social__icons {
    width: 80%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.social__icons a {
    display: flex;
    align-items: center;
}

.contact__info {
    display: flex;
    flex-direction: column;
}

.item-video .v_play {
    display: block;
    position: absolute;
    background: url(/img/Group225.svg) no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 62px !important;
    height: 62px;
    margin: auto;
    cursor: pointer;
    transition: 0.4s;
}

button.v_play:hover {
    opacity: 0.7;
}

.video:hover video+button.v_play.play {
    opacity: 0.3;
}

button.v_play.play {
    opacity: 0;
}

.carousel_box button {
    border: none;
}

button.v_play {
    background-color: transparent;
    background-image: url(/wp-content/uploads/2023/08/play.svg);
}


.footer_wrapper{
    width: 90%;
    
}
.footer_wrapper h2{
    margin-bottom: 20px;
}
.footer_links{
    display: none;
    margin-bottom: 20px;
}

.catalogue_links{
    display: flex;
    flex-direction: column;
}
.links_row{
    display: flex;
    column-gap: 30px;
}
.container_links{
    display: flex;
    flex-direction: column;
}
.footer_links a{
    margin: 5px 0;
}
