* {
    box-sizing: border-box;
    
  }
html{
    font-size: 62.5%;
}
:root{
    --main-color : #1E1E1E;
    --font-color : #fff;
    --rare-color: #FFED00;
    --text-color: #CCC;
    --black-color: #000;
}
body{
    background-color: var(--main-color);
}
img {
    max-width: 100%;
  }
a{
    text-decoration: none;
}
button{
    background-color: transparent;
    text-decoration: none;
    border: 0px;
    padding-block: 0px;
    padding-inline: 0px;
}
input:focus {
    outline: none;
  }
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content h1{
    width: 100%;
    display: none;
}
.slide_content{
    position: relative;
}
.slide__description{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.catalogue{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.catalogue h2{
    display: none;
}
.good{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}
.good a{
    text-decoration: none;
}
.img__wrapper{
    width:47vw;
    height:47vw;
    background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.good__img{
    max-height: 70%;
    max-width: 70%;
}

.exclusive_product{
    width: 100%;
    margin-bottom: 30px;
}
.pair__goods{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.shopping_cart_wrapper{
    position: relative;
}
.shopping_cart_circle{
    position: absolute;
    top: 0;
    right: 0;  
}
.shopping_cart_circle{
    text-align: center;
}
.ref_view{
    align-items: flex-end;
}
.ref_view img{
    height: 35px;
    width: 35px;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: #B6B6B6;
}
.wrapper__learn__more{
    display: flex;
    justify-content: flex-end;
}
.form__wrapper{
    background: linear-gradient(180deg, #262626 30.46%, #3A3A3A 100%);
}
.form__wrapper h2{
    display: none;
}
.form__first{
    display: flex;
    flex-direction: column;
}
.form_row{
    display: flex;
    flex-direction: column;
}
form input{
    background-color: transparent;
}
.input_data{
    width: 100%;
    height: 40px;
    position: relative;
  }
.input_data input{
  display: block;
  width: 100%;
  height: 25px;
  border: none;
}
.input_data input:focus ~ label,
.input_data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.underline{
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--font-color);
}

.input_data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }

.button__wrapper{
    display: flex;
    flex-direction: column;
}
.button__wrapper > button{
    background-color: var(--rare-color);
    height: 57px;
}

.wrapper__learn__more > p{
    margin: 0 20px;
}
.footer{
    background-color: var(--black-color);
}
